.card-title{
    font-family: 'Lobster Two', cursive;
    color:#007bff;
    text-align:center;
  }

.my-4{
    font-family: 'Lobster Two', cursive;
    color:#007bff;
    text-align:center;
}

.modal-title{
    font-family: 'Lobster Two', cursive;
    color:#007bff;
  }